<%- include('../partials/header') %>

  <div class="new-container">
    <h2>Create a new GameNight</h2>

    <div class="form-container">
      <form action="/gamenights" method="POST">
        <input type="text" name="eventName" placeholder="GameNight Name">
        <textarea name="eventDescription"
          placeholder="Tell your players what kind of night you'd like to run!"></textarea>
        <input list="gametype" name="gametype" placeholder="Choose Game Type">

        <datalist id="gametype">
          <option value="Cards">
          <option value="Computer Games">
          <option value="Wargaming">
          <option value="Tabletop RPG">
        </datalist>

        <input type="datetime-local" name="datetime" id="datetime">

        <button type="submit">Create GameNight</button>

      </form>


      <%- include('../partials/footer') %>