<footer>

  <div class="nav-logo">
    <a href="/"><img src="/images/branding/GameNight Logo.png" alt="GameNight" class="logo"></a>
  </div>

  <div class="nav-center">
    <% if (user) { %>
      <a href="/gamenights">Explore</a>
      <a href="/gamenights/new">Create</a>
      <a href="/profiles">Profile</a>
      <% } %>
  </div>

  <div class="nav-social-media">
    <a href="https://github.com/ajm24027/GameNight"><i class="fa-brands fa-github"></i></a>
    <a href="https://trello.com/b/swfYYd4Y/gamenight"><i class="fa-brands fa-trello"></i></a>
    <a href="https://www.linkedin.com/in/anthonyjmedina/"><i class="fa-brands fa-linkedin"></i></a>
  </div>
</footer>

</body>

</html>