<%- include('./partials/header') %>

  <div class="marketing-left">

    <div class="marketing-content">
      <h1>Effortless Event Management 😃</h1>
      <p>Say goodbye to scheduling nightmares with GameNight. Create, manage, and coordinate your gaming sessions
        effortlessly. Let the games begin!</p>
    </div>

    <img src="/images/index/gamenight.png" alt="" class="marketing-image">
  </div>

  <div class="marketing-right">

    <img src="/images/index/dashboard.png" alt="" class="marketing-image">

    <div class="marketing-content">
      <h1>Convenient Dashboard 💪</h1>
      <p>Your centralized gaming HQ. Track player count, location, and chat with ease. Everything you need for epic
        GameNights in one place.</p>
    </div>

  </div>

  <div class="marketing-left">

    <div class="marketing-content">
      <h1>Seamless Gmail Integration 😎</h1>
      <p>Sweat out your gaming sessions, not a signup form. Get instant access with your Gmail account. Attend, create,
        and customize GameNights effortlessly.</p>
    </div>

    <img src="/images/index/googleoauth.jpg" alt="" class="marketing-image">
  </div>

  <div class="CTA">
    <h2>Experience a new way to game! ✨</h2>
    <a href="/auth/google" class="cta-btn-prim">Sign Up with&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  </div>

  <%- include('./partials/footer') %>