* {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  font: 14px "Work Sans", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

a {
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.card {
  display: block;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.card:hover {
  background-color: blue;
}
